

.plot-placeholder
{
    width : 100%;
    height : 250px;
    text-align : center;
    margin : 0 auto;
}
.plot-legend
{
    padding-right: 10px;
}

/* Things in this class are hidden until we connect */
.connected
{
    display : none;
}

#email_response
{
    display: none;
}